# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# vscode

.vscode/

# dependencies

node_modules/

# Expo

.expo/
dist/
web-build/
expo-env.d.ts

# Builds

android/
ios/

# Native

_.orig._
_.jks
_.p8
_.p12
_.key
\*.mobileprovision

# Metro

.metro-health-check\*

# debug

npm-debug._
yarn-debug._
yarn-error.\*

# macOS

.DS_Store
\*.pem

# intellij

.idea/

# local env files

.env
.env\*.local

# typescript

\*.tsbuildinfo
